<h2> This application was made using skills learned at NEXT Academy - Asia's No.1 Coding School </h2>
<p>Please click on the map below for a link on Google Maps using the Google Maps Static API </p>

<a href="https://www.google.com/maps/place/next+academy/"><img src="https://maps.googleapis.com/maps/api/staticmap?center=next+academy&zoom=17&scale=1&size=600x300&maptype=roadmap&key=AIzaSyBMFJ2Rm6N-_qpAuZw8P8gKbWAIX5GmsMw&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:%7Cnext+academy" alt="Google Map of next academy"></a>


<%= link_to 'Back', todo_lists_path %>